<select id="mySelect" name="listing[category]" class="inpnew">
    <option value="General">General</option>
    <option value="Mountain">Mountain</option>
    <option value="River">River</option>
</select>