<nav class="navDiv">
  <div class="navbar">
    <a class="navbar-brand redanc" href="/listings">
      <svg width="101.99999999999999" height="32" style="display: inline;" class = "lgIcon">
         <g>
          <path fill="#e81e1e" stroke="#000" stroke-width="0" opacity="NaN" d="m9.1254,13.60579" id="svg_17"/>
          <path fill="#e81e1e" stroke-width="0" opacity="NaN" d="m1.22636,16.86146l0.25218,-9.6238l3.56846,7.63707c0.07977,0.10513 1.24159,-4.87557 1.24159,-4.87557c0,0 -2.07469,2.76706 -2.15446,2.66192c0.07977,0.10513 -1.33102,12.28018 -0.41816,-1.22305c0.91286,-13.50323 33.36097,-3.0991 33.2812,-3.20424c0.07977,0.10513 -31.04054,11.39472 -31.12031,11.28959c0.07977,0.10513 -2.24388,8.29562 -2.24388,8.29562" id="svg_18" stroke="#000"/>
          <line fill="#e81e1e" stroke="#000" x1="38.034" y1="11.15646" x2="38.19727" y2="22.42176" id="svg_19" stroke-width="0" opacity="NaN"/>
          <text fill="#d31d1d" stroke-width="0" x="31.76219" y="23.97001" id="svg_20" font-size="13" font-family="'Nunito SemiBold'" text-anchor="start" xml:space="preserve" stroke="#000" transform="matrix(0.931999 0 0 1.01446 5.37915 -1.10131)" font-weight="normal" font-style="normal">ğ“ğ“¸ğ“¦ğ“±ğ“®ğ“»ğ“®</text>
         </g>
       </svg>
     <svg width="50" height="32" style="display: inline;" class = "smallIcon">
        <g>
         <path id="svg_17" d="m9.1254,13.60579" opacity="NaN" stroke-width="0" stroke="#000" fill="#e81e1e"/>
         <path id="svg_18" d="m8.77313,25.37917l0.25218,-7.21575l3.56846,5.72614c0.07977,0.07883 1.24159,-3.65561 1.24159,-3.65561c0,0 -2.07469,2.07469 -2.15446,1.99586c0.07977,0.07883 -1.33102,9.20745 -0.41816,-0.91702c0.91286,-10.12447 33.36097,-2.32365 33.2812,-2.40248c0.07977,0.07883 -31.04054,8.54355 -31.12031,8.46472c0.07977,0.07883 -2.24388,6.2199 -2.24388,6.2199" opacity="NaN" stroke-width="0" stroke="#000" fill="#e81e1e"/>
        </g>
      </svg>
    </a>
    <span
    ><form action="/search" method="get" class="searchForm"><input id="searchInput" type="text" name="query" placeholder="type here..." />
    <button type="submit" class="searchbtn">
     <svg viewBox="0 0 50 50" width="25px" height="25px"><path d="M 21.5 8 C 14.057 8 8 14.057 8 21.5 C 8 28.943 14.057 35 21.5 35 C 24.789065 35 27.805703 33.816017 30.150391 31.853516 C 30.435292 32.138417 39.711913 41.416007 39.943359 41.648438 C 40.413359 42.118437 41.176484 42.118437 41.646484 41.648438 C 42.116484 41.178438 42.116484 40.415312 41.646484 39.945312 C 41.415038 39.712882 32.138417 30.435292 31.853516 30.150391 C 33.816017 27.805703 35 24.789065 35 21.5 C 35 14.057 28.943 8 21.5 8 z M 21.5 9 C 28.392 9 34 14.608 34 21.5 C 34 28.392 28.392 34 21.5 34 C 14.608 34 9 28.392 9 21.5 C 9 14.608 14.608 9 21.5 9 z"/></svg>
    </button></form>
  </span>
    <div class="toggler togglerOff">
      <input type="checkbox" class="bt toggler btnn2" />
      <div class="navln"></div>
      <div class="navln"></div>
      <div class="navln"></div>
    </div>
    <div class="toggler dv">
      <input type="checkbox" class="bt toggler btnn" />
      <div class="navln"></div>
      <div class="ln2"></div>
    </div>

    <div class="collaps">
      <span class="navbar-nav">
        <p class="nav-item">
          <a class="nav-link" href="/listings">All Listings</a>
        </p>
        <p class="nav-item">
          <a class="nav-link" href="/listings/new">New Listing</a>
        </p>
        <% if (!currUser) { %>
        <p class="nav-item">
          <a class="nav-link signUpLgln">Sign up</a>
        </p>
        <p class="nav-item">
          <a class="nav-link loginLgln">Login</a>
        </p>
        <%}%> <% if (currUser) { %>
        <p class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </p>
        <p class="nav-item" style ="font-size:8px !important">
          
        </p>
        <%}%>
      </span>
    </div>
  </div>
</nav>
