<div class="cnclg" id="cnclg">
  <div class="cnclg1"></div>
  <div class="cnclg2"></div>
</div>
<h2>Login</h2>
<hr>
<form action="/login" method="post" class="newform" id="loginForm" novalidate>
  <div>
    <label for="user"> Username:</label>
    <input type="text" name="username" id="user" placeholder="Enter a username" class="inpnew" required>
    <div class="error"></div>
  </div>
  <div>
    <label for="pass"> Password:</label>
    <input type="password" name="password" id="pass" placeholder="Enter a strong password" class="inpnew" required>
    <div class="error"></div>
  </div>
  <button class="newbtn">Login</button>
</form>