<div class="cnclg" id="cncsg">
  <div class="cnclg1"></div>
  <div class="cnclg2"></div>
</div>
<h2>Sign Up</h2>
<hr>
<form method="post" action="/signup" class="newform" id="signupfm" novalidate>
  <div>
    <label for="username"> Username:</label>
    <input type="text" name="username" id="username" placeholder="Enter a username" class="inpnew" required>
    <div class="error"></div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" placeholder="Enter a strong password" class="inpnew" required>
    <div class="error"></div>
  </div>

  <div>
    <label for="email"> Email:</label>
    <input type="email" name="email" id="email" placeholder="Enter email" class="inpnew" required>
    <div class="error"></div>
  </div>
  <button class="newbtn">Sign Up</button>
</form>
