<%layout("/layouts/boilerplate")%>
<div class="showBody" style="background: linear-gradient(rgb(255, 0, 0, 0.5), rgba(255, 0, 195, 0.5));font-weight: bolder;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <p>"Your privacy is as sacred as your grandma's secret recipe for chocolate chip cookies."</p>
    <br>
    <p>"Your personal information is guarded with the ferocity of a dragon protecting its treasure hoard."</p>
    <br>
    <p>"We take privacy seriously, so much so that we've considered hiring ninjas to safeguard your data."</p>
    <br>
    <p>"Rest assured, your secrets are safe with us, locked away tighter than a squirrel's stash of acorns."</p>
    <br>
    <p>"Your privacy is our priority, like a VIP guest at a panda party."</p>
    <br>
    <p>"Think of us as your digital bouncer, keeping unwanted visitors away from your personal space."</p>
    <br>
    <p>"We value your privacy more than a squirrel values its privacy when burying nuts."</p>
    <br>
    <p>"Your data is treated with the utmost care, like a delicate soufflé waiting to rise."</p>
</div>