<%layout("/layouts/boilerplate")%>
<div
  class="showBody"
  style="
    background: linear-gradient(rgb(255, 0, 0, 0.5), rgba(255, 0, 195, 0.5));
    font-weight: bolder;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  "
>
<p>"Our terms and conditions are longer than a giraffe's neck, but just as fascinating to read!"</p>
<br>

<p>"Reading our terms and conditions will make you feel like you've just completed an epic fantasy novel, except with fewer dragons and more legal jargon."</p>
<br>

<p>"Our terms and conditions have been known to cure insomnia faster than counting sheep."</p>
<br>

<p>"Reading through our terms and conditions is like embarking on a journey through the seven circles of legal hell, but with occasional pop culture references."</p>
<br>

<p>"Our terms and conditions are like a maze designed by a mischievous leprechaun - tricky to navigate, but there might be a pot of gold at the end (or at least a coupon)."</p>
<br>

<p>"Our terms and conditions are more intricate than a spider's web, but with less chance of trapping flies and more chance of trapping your attention."</p>
<br>

<p>"Our terms and conditions are so detailed, they make the ingredients list on a cereal box look like a haiku."</p>
<br>

<p>"Our terms and conditions are as essential to read as a survival guide in a zombie apocalypse - you never know when you might need to know your rights and responsibilities."</p>
<br>

<p>"Our terms and conditions are the closest thing you'll find to a choose-your-own-adventure book in the world of legal documents."</p>
<br>

<p>"Our terms and conditions contain more clauses than Santa's naughty list, but with fewer coal-related consequences."</p>

</div>
